@font-face {
  font-family: "great_vibesregular";
  src: url("fonts/greatvibes-regular-webfont.woff2") format("woff2"),
    url("fonts/greatvibes-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rubikmedium";
  src: url("fonts/rubik-medium-webfont.woff2") format("woff2"),
    url("fonts/rubik-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --base-color: #F1EBF4;
  --accent-clr: #EADBD2;
  --primary-clr: #C6A6E8;
  --secondary-clr: #5E4C72;
  --dark-clr: #392c46;

  --ff: tahoma, sans-serif;
  --ff-cursive: "great_vibesregular", tahoma, sans-serif;
  --ff-normal: "rubikmedium", tahoma, sans-serif;

}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-normal);
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: var(--base-color);
}

header {
  display: flex;
  justify-content: center;
}

header img {
  align-self: center;
}

#hero {

  background-color: #C6A6E8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit);
  padding: 3%;
  margin: 0;
  
}

h1 {
  font-family: var(--ff-cursive);
  font-size: 6rem;
  color: var(--base-color);
  grid-column: 1;
  margin: 0;
  
  
}

p {
  color: var(--base-color);
  font-size: 1.2rem;
  grid-column: 2;
  grid-row: 1 / 3;
  align-self: center;
  padding: 8px;
  margin: auto;
  
  
  

}

#btn {
  background-color: var(--primary-clr);
  grid-column: 1;
  padding: 0;
  text-align: center;
  margin-right: 25%;
  margin-top: 10%;


}
button {
  border: 1px solid var(--secondary-clr);
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: var(--secondary-clr);
  color: var(--base-color);
  font-family: var(--ff-normal);
  font-size: 1rem;
  border-radius: 100%;
}

h2 {
  font-family: var(--ff-cursive);
  letter-spacing: 0.05rem;
  font-size: 3rem;
  color: var(--secondary-clr);
}

/* Glinda's image have a box-shadow?
/* [src$='.jpeg'] will grab any image src that ends in ".jpeg"