@font-face {
  font-family: "great_vibesregular";
  src: url("fonts/greatvibes-regular-webfont.woff2") format("woff2"),
    url("fonts/greatvibes-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.rubik-normal {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.rubik-light {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.rubik-semi-bold {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.rubik-bold {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

:root {
  --base-color: #F1EBF4;
  --accent-clr: #EADBD2;
  --primary-clr: #C6A6E8;
  --secondary-clr: #5E4C72;
  --dark-clr: #392c46;

  --ff-cursive: "great_vibesregular", tahoma, sans-serif;
  --ff-normal: "rubik-normal", sans-serif;
  --ff-light: "rubik-light", sans-serif;
  --ff-semi-bold: "rubik-semi-bold", sans-serif;
  --ff-bold: "rubik-bold", sans-serif;

}

body {
  font-family: var(--ff-normal);
  margin: 0;
  padding: 0;
  background-color: var(--base-color);
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */

#logo {
  width: 8%;
  height: auto;
}


/* HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO */

#hero {
  background-image: url(images/pawel-czerwinski-FLjfMUyng2Y-unsplash.jpg);
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 8rem 2rem 8rem;
  margin-bottom: 4rem;
  box-shadow: 0px 0px 4px 4px rgba(59, 3, 80, 0.5);
}

#hero #profile-pic {
  
  width: 250px;
  height: auto;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: .3em solid var(--accent-clr);
  padding: .5em;
  box-shadow: 0px 0px 4px 4px rgba(59, 3, 80, 0.5);
}

/*
#hero button {
  border: 1px solid var(--secondary-clr);
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: var(--accent-clr);
  color: var(--secondary-clr);
  font-weight: 600;
  font-size: 1rem;
  border-radius: 100%;
  box-shadow: 0px 0px 3px 3px rgba(59, 3, 80, 0.5);
  width: 15%;
  margin: 0 0 0 8rem;
}

#hero button:hover {
  box-shadow: none;
  font-style: italic;
  cursor: pointer;
}
*/

#hero .text {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#hero .text h1 {
  font-family: var(--ff-cursive);
  font-size: 5rem;
  color: var(--secondary-clr);
  margin: 0;
}

#hero .text p {
  width: 65%;
  font-size: 1.1rem;
  font-family: "rubik";
  align-self: center;
  color: var(--secondary-clr);
}


/* SERVICES & PRICING SERVICES & PRICING SERVICES & PRICING SERVICES & PRICING SERVICES & PRICING */

.menu { 
  width: 50%;
  margin: auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  
}

.menu h2 {
  font-family: var(--ff-cursive);
  font-size: 3rem;
  text-align: center;
  align-self: center;
  padding: 16px;
  letter-spacing: 0.07rem;
  background-color: var(--primary-clr);
  color: white;
  margin: 0;
  grid-column: span 2;
}

.menu-item {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  column-gap: 2rem;
  align-items: center;
  padding: 2rem 2rem 2rem 4rem;
  border-bottom: 1px solid var(--base-color);
}
.menu-item:last-child {
  border-bottom: none;
  margin-bottom: 2rem;
}

.service-heading {
  font-weight: bold;
  color: var(--secondary-clr);
}

.service {
  grid-column: 2;
  color: var(--secondary-clr);
}

.price {
  grid-column: 3;
  color: var(--primary-clr);
}




/* GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY */
.gallery-heading {
  display: flex;
  justify-content: center;
  padding: 0;
}

.gallery-heading img {
  width: 20%;
  height: auto;
  margin: 0;
  padding: 0;
}

.gallery-heading #msg {
  color: var(--primary-clr);
  width: 25%;
  height: auto;
  text-align: center;
  align-self: center;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0 4rem;
  font-style: italic;
}

.gallery-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 0 1em 3em 1em;
  align-items: center;
  justify-self: center;
}

.gallery-container img {
  width: 95%;
  border-radius: 25px;
  border: 0.5rem solid var(--accent-clr);
}



/* CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT */

.contact {
  font-family: var(--ff-cursive);
  font-size: 3rem;
  color: var(--secondary-clr);
  padding: 1rem 1rem 1rem 8rem;
  letter-spacing: 0.07rem;
  margin: 0;  
}

.contact-container {
  display: flex;
  justify-content: space-evenly;
  background-image: url(images/pawel-czerwinski-FLjfMUyng2Y-unsplash.jpg);
  box-shadow: 0px 0px 4px 4px rgba(59, 3, 80, 0.5);
  padding: 8rem;
  color: var(--secondary-clr);
  font-weight: 600;
  margin-bottom: 4px;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
footer {
  background-color: var(--accent-clr);
  padding: 2rem;
  color:#392c46;
  font-size: 0.8rem;
  text-align: center;
}

/* [src$='.jpeg'] will grab any image src that ends in ".jpeg"